.add-product form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-product form input {
  @apply text-xl p-3;
}
.add-product form input,
textarea {
  @apply border border-java-500 text-xl p-3;
  width: 60%;
  margin-bottom: 20px !important;
}
.add-product {
  /* background-color: rgb(248, 239, 225); */
  padding: 40px 0;
}
.add-product h2 {
  font-family: "Righteous", cursive;
  padding: 20px 0;
}
