.common-banner {
  background-image: url(https://i.ibb.co/NFp86xs/road-g91fa894da-1920.jpg);
  background-position: center center;
  height: 60vh;
  @apply flex items-center justify-center bg-no-repeat bg-cover w-full font-extrabold;
}
